<!-- staff section --- chef starts -->

<section class="ftco-section" id="chef">
  <div class="container">
      <div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-12 text-center heading-section ftco-animate">
              <span class="subheading">Author</span>
              <h2 class="mb-4">Our Master Authors</h2>
          </div>
      </div>
      <div class="row">
          <div class="col-md-6 col-lg-3 ftco-animate">
              <div class="staff">
                  <div class="img" style="background-image: url(../../assets/images/author4.jpg);"></div>
                  <div class="text pt-4">
                      <h3>Shashi Tharoor</h3>
                      <span class="position mb-2">Inglorious Empire</span>
                      <div class="faded">
                          <ul class="ftco-social d-flex">
                              <li class="ftco-animate"><a href="#"><span class="fa fa-instagram"></span></a></li>
                              <li class="ftco-animate"><a href="#"><span class="fa fa-twitter"></span></a></li>
                              <li class="ftco-animate"><a href="#"><span class="fa fa-linkedin"></span></a></li>
                              <li class="ftco-animate"><a href="#"><span class="fa fa-facebook"></span></a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-3 ftco-animate">
              <div class="staff">
                  <div class="img" style="background-image: url(../../assets/images/author1.jfif);"></div>
                  <div class="text pt-4">
                      <h3>Sanjeev Sanyal</h3>
                      <span class="position mb-2">The Incredible History of India's Geography</span>
                      <div class="faded">
                          <ul class="ftco-social d-flex">
                              <li class="ftco-animate"><a href="#"><span class="fa fa-instagram"></span></a></li>
                              <li class="ftco-animate"><a href="#"><span class="fa fa-twitter"></span></a></li>
                              <li class="ftco-animate"><a href="#"><span class="fa fa-linkedin"></span></a></li>
                              <li class="ftco-animate"><a href="#"><span class="fa fa-facebook"></span></a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-3 ftco-animate">
              <div class="staff">
                  <div class="img" style="background-image: url(../../assets/images/author2.jpg);"></div>
                  <div class="text pt-4">
                      <h3>Vikram Setht</h3>
                      <span class="position mb-2">CFrom Heaven Lake: Travels Through Sinkiang and Tibet</span>
                      <div class="faded">
                          <ul class="ftco-social d-flex">
                              <li class="ftco-animate"><a href="#"><span class="fa fa-instagram"></span></a></li>
                              <li class="ftco-animate"><a href="#"><span class="fa fa-twitter"></span></a></li>
                              <li class="ftco-animate"><a href="#"><span class="fa fa-linkedin"></span></a></li>
                              <li class="ftco-animate"><a href="#"><span class="fa fa-facebook"></span></a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-3 ftco-animate">
              <div class="staff">
                  <div class="img" style="background-image: url(../../assets/images/author3.jpg);"></div>
                  <div class="text pt-4">
                      <h3>Somyadeep Dey</h3>
                      <span class="position mb-2">Manager</span>
                      <div class="faded">
                          <ul class="ftco-social d-flex">
                              <li class="ftco-animate"><a href="#"><span class="fa fa-instagram"></span></a></li>
                              <li class="ftco-animate"><a href="#"><span class="fa fa-twitter"></span></a></li>
                              <li class="ftco-animate"><a href="#"><span class="fa fa-linkedin"></span></a></li>
                              <li class="ftco-animate"><a href="#"><span class="fa fa-facebook"></span></a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- staff section --- chef ends -->


